<div class="info">
  <div class="about">
    <h1>Welcome to Social Crawler!</h1>
  </div>

  <div class="about">
    <h3>Notice:  The reviews listed on this website were not created by actual users. This app uses a seeding file to generate reviews that are randomized.  They do not represent actual opinions on the quality of each person listed on this site.</h3>
  </div>

  <div class="about">
    <h3>Introduction</h3>

    <p>Social Crawler is a social network that focuses on the Ruby on Rails Community.  It allows users to gauge their abilities by using "weighted" scoring method in which users leave reviews for individuals that they worked with on Rails Apps, and those reviews are given a certain "weight".  Users that have proven themselves and earned excellent reviews are considered authoratative, and Social Crawler gives their opinions more weight when calculating the each person's "weighted score".</p>
  </div>

  <div class="about">

    <h3>What does Social Crawler Actually Do?</h3>

    <p>Sathyan Mathai came up with this methodology to solve a core problem with the types of endorsements that are common on other social networking sites.  He believed that most social networks fail to assign authority to the endorsements that its users make.   As a result, people viewing these other social networks have no idea what </p>

    <p>Social Crawler solves this problem by mimicing the effects of Google's Page Rank system.  It begins with one user who is considered a highly credible source of information, and then it considers anyone who earns this "paragon's" endorsement as also being authoratative on this subject.</p>
  </div>

  <div class="about">
    <h3>Methodology</h3>

    <p>Social Crawler starts with one user who the administrators of the site to be a "paragon", someone who is a true master of Ruby and a person who understands how to gauge the abilities of the people that he or she works with.  Once the "paragon" reviews someone, he or she is considered to be "p-linked". Once someone is "p-linked", he or she rates is connected to a chain of users who reviews are considered for purposes of calculating weighted scores.  Everytime a "p-linked" user reviews another person, this new reviewee also becomes "p-linked", which means that this person's skills also contribute to the calculation of "user scores".</p>
  </div>
</div>

