<h1>Scale</h1>

<p>Social Crawler's scale is based upon the Dreyfus Model of skill acquisition. The original Dreyfus model divided individuals in any discipline into 5 categories: Novice, Advanced Beginner, Competent, Proficient, and Expert.  For more information on the Dreyfus model: <a href="http://en.wikipedia.org/wiki/Dreyfus_model_of_skill_acquisition">Wikipedia Entry on Dreyfus Model</a></p>

<p>Social Crawler uses a ten point scale that based off of these categories. Social Crawler uses a ten point scale rather than a five point scale because some individuals may exhibit traits of the groups listed in the Dreyfus scale.</p>

<p>For example, a person who mostly relies on past experience to solve problems without excercising independent judgment is an "Advance Beginner" on the Dreyfus scale.  On Social Crawler's scale, this person should be rated as a "3".  This same individual may go on to excercise independent judgment, learn to cope with extraneous or contradictory information, and formulate appropriate routines to deal with novel situations.  If this individual exhibits these traits consistently, this person should earn a "5" on Social Crawler's scale because she is considered "Competent" on the Dreyfus scale.</p>

<p>Some individuals may not fall neatly into the original Dreyfus Categories.  For example, a person could generally act like an "Advanced Beginner" in a majority of situations related to her job, but then exhibit more sophisticated judgment in some areas that would be more consistent with a "Competent" person.  Since this person exhibits traits of both the "Advanced Beginner" and a "Competent" person, she would earn a score of "4" on Social Crawler's scale.</p>

<p>Social Crawler does have one level that does not appear in the Dreyfus model.  On Social Crawler, a 10/10 score indicates that the reviewee is "World Class".  A "World Class" practitioner of the art is someone who has made several significant contributions that have advanced the art.  For example, creating important tools such as "Rails" or "Rake" would qualify someone as a 10/10 on Social Crawler.</p>

<p>The Scale goes as follows:</p>

<ul>
  <li class="scale">Novice (1) - The reviewee has little to no theoretical understanding of the discipline in question.  He or she must follow rigid rules in order to accomplish tasks in this field.  The novice is too inexperienced to know which rules to follow in a given situation unless he or she is told which set of guidelines to adhere to.</li>

  <li class="scale">Advanced Beginner (3) - The reviewee still has relatively little theoretical understanding of the discipline, but he or she has enough experience to know which set of guidelines that he or she should follow in a particular situation.  Most individuals are "Advanced Beginners" because they will never develop the problem solving skills necessary to become "Competent".</li>

  <li class="scale">Compentent (5) - The reviewee has demonstrated problem solving ability.  He or she is able to examine a great deal of information, isolate and analyze important pieces of information, and then formulate plans to solve problems related to this discipline.</li>

  <li class="scale">Proficient (7) - The reviewee is able to take a more holistic view of the system that he or she is working on, prioritize, and develop heuristics or maxims to guide his or her work.  The proficient individual is also adept at identifying when a particular problem deviates from the norms, which means that he or she can disregard the maxims that apply to normal situations and deal with edge cases in an intelligent manner.</li>

  <li class="scale">Expert (9) - The reviewee has an intuitive understanding of the art, and he or she no longer needs to apply maxims or heuristics in order to address almost any problem related to the discipline.  The expert has refined his or her instincts to the point that he or she can reflexively create a solution without verbalizing to herself or others why he or she formulated a particular plan to address a problem.  Indeed, the expert may not even initially understand why he or she took a particular action.</li>

  <li class="scale">World Class (10) - The reviewee is a rare individual who has advanced the discipline by creating novel solutions to some of the most difficult, seemingly intractable issues in the field.  The world class individual exhibits extreme creativity and analytical ability that most individuals will never fully understand or appreciate.</li>
