<h1 id="weighing_header">How does Social Crawler's Weighted Scoring System Work?</h1>

<p>Social Crawler uses a weighted scoring system in which every person's reviews are given a certain amount of weight depending on the reviews that the reviewer received.  For example, Social Crawler will assign considerable weight to a reviewer who has only received 8's and 9's, and Social Crawler will assign little weight to the reviews that a person who only receives ratings of 2 or 3.</p>

<p> Social Crawler uses a logrithimic scale rather than a linear scale when determining how much weight to assign each user's reviews.  It basically gives each user double the number of "votes" of someone one level lower on Social Crawler's rating scale. For example, someone with a weighted score of a 5 will have twice as many "votes" as a user who has a weighted score of 4.  In other words, getting a rating of "9" from a single user with a weighted score of 5 will be the equivalent of getting that same rating from two people with weighted scores of 4.</p>

<p>Social Crawler uses this weighted scoring system because not everyone's opinion is equal, and the assessment of one master of a field should be considered more authorative than the opinions of several less sophisticated practitioners of the art.</p>
