<h1><%= @user.gitname %>'s Repositories</h1>

<ol>
  <% @user.repositories.each do |repo| %>

    <h3><%= repo.name %></h3>
    <h5>Collaborators</h5>
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
      <% repo.users.each do |user| %>
        <li><%= image_tag user.git_avatar, height: '64', width: '64' %>
          <p><%= link_to user.gitname, user_path(user) %></p>
        </li>
      <% end %>
    </ul>
  <% end %>
</ol>
