<h1><%= @user.gitname %></h1>

<p>Collaborators:</p>
<ol>
  <% @user.collaborators.each do |collaborator| %>
    <li><%= link_to collaborator.gitname, user_path(collaborator) %></li>
  <% end %>
</ol>



Repos:

<ol>
  <% @user.repositories.each do |repo| %>
    <li><%= repo.name %></li>
  <% end %>
</ol>

<% if current_user.id == @user.id %>
  <p>Sync Data</p>
<% end %>

