#collab_headline {
  margin-top: 3%;
}

#collaborators {
  background: #F0F0F5;
  padding: 3%;
  margin-bottom: 5%;
}

.user-card{
  background: #F0F0F5;
}

.user-card:hover{
  background: #E0E0EA;
}

.repo_listing {
  background: #F0F0F5;
  margin-bottom: 1%;
  padding: 3%;
}

.repo_listing:hover{
  background: #E0E0EA;
}

.top-bar {
  margin-bottom: 1%;
}

.repo_part {
  margin-bottom: 3%;
}

.about {
  margin-bottom: 7%
}

.scale {
  margin-bottom: 3%;
}

#weighing_header {
  margin-bottom: 3%;
}


